

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>


  <div class="wrap  "> 
    
     {{!-- {{>header}} --}}

  <!--  bg wallpaper start -->
              <div >
    <div class="row">
      <div class="col-12 wrapme ">
           <div class="bgPic" >
              <img class="img-fluid  h-100 w-100"  src="images/codeswalp.jpg" alt="">
              <div class="overlay"></div>

              <div  class="wrap">
                <div class="row">
                  <div class="col-xm-12">
                    <p class="header">Learning never exhausts, 
                      <br>the mind, Thank you for joining us {{firstName}}   </p>
                    <p class="subheader mt-3">
                      Contact
                    </p>
                  </div>
                </div>            
             </div>
          </div>
      </div>
    </div>
   
  <!-- wallpaper -->

  <!-- contacts section  start -->
  <section>
      <div class="container">
        <div  class="row justify-content-center align-items-center">
           <div class="col-2"></div>
           <div class="col-8">
            <div class=" text-center">
            <div class="col-sm-6 col-sm-offset-3">
            <br><br> 
            <h2 style="color:#00BFFF">Success</h2>
            <img src="http://osmhotels.com//assets/check-true.jpg">
            <h3>Dear {{firstName}} {{middleName}} {{lastName}}</h3>
            <p style="font-size:20px;color:#504c4c;">
             You are one step away from getting started, Thank you for Subscribing to our courses. We have sent you an email "{{email}}" with your details
            Brightfied tech team will get in touch with you shortly.</p>

            <a href="contact" class="btn btn-primary"> BACK </a>
           <br>
           <br>
          </div>      
          <div class="col-2"></div>
	    </div>
           </div>

        </div>
      
      </div>
  </section>

  <!-- contact section end -->



  <div id="floatn"  style="

  top: 50%;
  left: 0;
 

  position: fixed;
  z-index: 4;
  margin-left: 30px;
 
  " >
  <a href="#">
    <img      src="images/2ndlogoofcode.webp" alt="">
  </a>
    
    
    

  </div>

   




<!-- footer -->
  {{!-- {{>footer}} --}}
</div>