<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/newsfeed.css">
</head>

{{!-- {{>header}} --}}
    <div >
      <div class="row">
        <div class="col-12 wrapme ">
             <div class="bgPic" >
                <img style="max-height:300px ;" class=" image-fluid h-60 w-100"  src="images/codeswalp.jpg" alt="">
                <div class="overlay"></div>

                <div  class="wrap">
                  <div class="row">
                    <div class="col-xm-12">
                      <p class="header text-wrap">NEWS FEED AND POSTS
                         IN TECH </p>
                      <p class="subheader ">GET YOUR CURRENTS NEWS UPDATES AROUND THE GLOBE IN OUR NEWS FEED.
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    {{!--  --}}
     <div id="otherDetails">
            <section class="text-center text-lg-start bg-light container shadow mt-4">    
                <div id="firstSectionInOtherDetails">
                    <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex3-tab-1" data-mdb-toggle="tab" href="#ex3-tabs-1" role="tab" aria-controls="ex3-tabs-1" aria-selected="true">Insider</a>
                        </li>

                        <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex3-tab-2"  data-mdb-toggle="tab" href="#ex3-tabs-2" role="tab" aria-controls="ex3-tabs-2" aria-selected="false">TECH TALK</a>
                        </li>

                        <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex3-tab-3" data-mdb-toggle="tab" href="#ex3-tabs-3" role="tab" aria-controls="ex3-tabs-3" aria-selected="false" >CODE CULTURE</a>
                        </li>
                    </ul>
                    <!-- Tabs navs -->
                    
                    <!-- Tabs content -->
                    <div class="tab-content" id="ex2-content">

                        <div class="tab-pane first-tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
                              <!-- Button to trigger navbar -->
                                 <div class="trigger container rounded-4 w-80  shadow-lg" style="width:70%;s">
                                    <form class="text-center p-4 " role="button" data-bs-toggle="modal" data-bs-target="#addPostModal"  >
                                      <input class="rounded-pill me-2 form-control" type="search" placeholder="What's on your mind?" aria-label="Search">
                                    </form>                                
                                </div>
      

                            <!-- Navbar to add post -->
                        <div class="modal fade" id="addPostModal" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Create Post</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="mb-3">
                                      <label for="post-content" class="form-label">What's on your mind?</label>
                                      <textarea class="form-control" id="post-content" rows="3"></textarea>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-primary">Post</button>
                                </div>
                              </div>
                            </div>
                          </div>

                            {{!-- <div class="modal "  tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header text-center">
                                   <center><h5 class="modal-title" id="addPostModalLabel">Create Post</h5></center> 
                                    <hr>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body" aria-placeholder="What's on your mind?"> 
                                    <!-- Add form fields here to create a new post -->
                                  </div>
                                  <div class="modal-footer">
                                    <div class="form">

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>   
                        </div>  --}}
                        
                        <!-- start of terminal report section -->
                        <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                            <div>
                                    <div class="container">  
                                        <marquee data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" class="h5 text-shadow-lg text-primary " style="font-family: 'Open Sans', sans-serif;"> <a> Thank you for visiting my website and reading my blog. My goal is to provide you with valuable information and insights on a variety of topics related to Techonology</a></marquee>
                                      <div class="row">
                                        {{#each newsData}}
                                          <div class="col-xm-12 col-sm-6 col-md-4">
                                            <div class="card h-80 m-2">
                                              <a href="#">
                                                <img class="card-img-top" src="{{this.urlToImage}}" alt="{{this.title}}">
                                              </a>
                                              <div class="card-body"  style="font-family: 'Open Sans', sans-serif;">
                                                <h4 class="card-title"><a href={{this.url}}>{{this.title}}</a></h4>
                                                <p class="card-text">{{this.description}}</p>
                                              </div>
                                              <div class="card-footer">
                                                <small class="text-muted">{{this.publishedAt}}</small>
                                              </div>
                                          </div>
                                        </div>
                                        {{/each}}
                                      </div>
                                      </div>

                            </div>
                        <!-- end of terminal report sections -->
                    </div>
                        <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3 text-justify">
                            WILL BE UPDATED SOON
                        </div>
                    </div>
                </div>
            </section>
        {{!--  --}}






    

  



  
  <div id="floatn"  style=" top: 50%; left: 0; position: fixed; z-index: 4; margin-left: 30px;" >
  <a href="#">
    <img      src="images/2ndlogoofcode.webp" alt="">
  </a>
  </div>

